#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container .rectangle {
  transition-duration: .3s;
  transition-property: filter, opacity;
  opacity: 1;
  filter: saturate(100%);
}

/**
* When hovering over the container, fade all rectangles
*/
.container:hover .rectangle {
  opacity: .4;
  filter: saturate(50%);
}

/**
* When hovering over a rectangle specific rectangle, make it fully visible
*/
.container .rectangle:hover {
  opacity: 1;
  filter: saturate(100%);
}
